@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
body .header__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  margin: 20px;
}
body .header__left__menu:hover {
  cursor: pointer;
}
body .header__left__title {
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: hsl(220deg, 13%, 13%);
  text-transform: uppercase;
}
body .header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  margin: 20px;
}
body .header__right__avatar {
  width: 30px;
  margin-left: 20px;
}

.main__slide {
  position: relative;
}
.main__slide__images {
  width: 100%;
}
.main__slide .img {
  display: none;
}
.main__slide__button {
  color: black;
  border: 0;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 100%;
  padding: 10px 15px 10px 15px;
}
.main__slide .leftBtn {
  position: absolute;
  top: 45%;
  left: 2%;
}
.main__slide .rightBtn {
  position: absolute;
  top: 45%;
  right: 2%;
}
.main__info {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 20px;
}
.main__info__subtitle {
  font-weight: 400;
  color: hsl(26deg, 100%, 55%);
  text-transform: uppercase;
  padding-bottom: 15px;
}
.main__info__title {
  font-weight: 700;
  color: hsl(220deg, 13%, 13%);
  font-size: 28px;
  padding-bottom: 20px;
}
.main__info__text {
  font-weight: 400;
  color: hsl(220deg, 14%, 75%);
  line-height: 27px;
  padding-bottom: 20px;
}
.main__info__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.main__info__price__current {
  font-size: 28px;
  font-weight: 700;
  color: hsl(220deg, 13%, 13%);
  width: 5%;
}
.main__info__price__reduce {
  font-weight: 700;
  color: hsl(26deg, 100%, 55%);
}
.main__info__price__oldPrice {
  font-weight: 400;
  color: hsl(220deg, 14%, 75%);
  text-decoration: line-through;
}
.main__info__multi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.main__info__multi__number {
  font-weight: 700;
  color: hsl(220deg, 13%, 13%);
  font-size: 18px;
}
.main__info__multi__btn {
  color: hsl(26deg, 100%, 55%);
  border: 0;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.main__info__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 0;
  border-radius: 10px;
  background-color: hsl(26deg, 100%, 55%);
  padding: 20px;
  color: hsl(0deg, 0%, 100%);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.main__info__button__image {
  margin-right: 15px;
  filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(64deg) brightness(109%) contrast(102%);
}

.header__filter {
  position: absolute;
  width: 100%;
  height: 115%;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: hsla(0deg, 0%, 0%, 0.25);
  display: none;
}
.header__filter__menu {
  position: absolute;
  background-color: hsl(0deg, 0%, 100%);
  width: 70%;
  height: 100%;
  padding: 30px;
  z-index: 10;
}
.header__filter__menu__close {
  padding: 10px;
  padding-bottom: 50px;
}
.header__filter__menu__text {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: hsl(220deg, 13%, 13%);
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}